@model Pessoa


<h1>Home @ViewData["Nome"] @(((DateTime)ViewBag.Horario).Year)  @ViewData["Horario"] </h1>
<p>Welcome to ASP.NET MVC!</p>

<h2>
    Meu cadastro
</h2>
<p>
    @Model.Nome
    <br />
    @Model.DataDeInicio?.Year
</p>


@*@await Component.InvokeAsync("Noticias", new { total=4, noticiasUrgentes=true})*@

<vc:noticias total="2" noticias-urgentes="false" categoria="esportes" ></vc:noticias>


<img src="~/giphy.gif" />
